NameVirtualHost 127.0.0.1:80
<VirtualHost 127.0.0.1:80>
    <Directory "/path/to/my/rabbitphp/app/webroot">
        Options FollowSymLinks SymLinksifOwnerMatch
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>
    
    DocumentRoot /path/to/my/rabbitphp/app/webroot
    ServerName myservername
</VirtualHost>
